
.tabela {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #333;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.tabela caption {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.tabela thead th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.tabela td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela tbody tr:hover {
    background-color: #f1f1f1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.navbar-container {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #111;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: linear-gradient(45deg, #0000FF, #00BFFF, #87CEFA)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: linear-gradient(45deg, #0000FF, #00BFFF, #87CEFA)
}
